@model Paginated<Post>

@{
    ViewBag.Title = "Post Management";
}
<h2 class="text-center">Post Management</h2>
<h4 class="text-success time-hide">@TempData["Message"]</h4>
<div class="btn btn-primary mb-3 mr-3">
    <a href="@Url.Action("Create", "PostsManagement")" class="text-white text-decoration-none"><span class="fas fa-plus"></span></a>
</div>
<form action="@Url.Action("Index", "PostsManagement")" method="get" class="form-inline float-right">
    <div class="form-group mx-md-3 mb-2">
        <input type="text" class="form-control mr-3" id="inputSearch" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Input....">
        <button type="submit" class=" form-control btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<table class="table table-bordered table-dark">
    <thead>
        <tr class="text-center">
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["TitleSortParm"], currentFilter = ViewData["CurrentFilter"] })">Title</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["CategorySortParm"], currentFilter = ViewData["CurrentFilter"] })">Category Name</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["ImageUrlSortParm"], currentFilter = ViewData["CurrentFilter"] })">Image Url</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["PublishedSortParm"], currentFilter = ViewData["CurrentFilter"] })">Published</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["PostOnSortParm"], currentFilter = ViewData["CurrentFilter"] })">Post On</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["ViewCountSortParm"], currentFilter = ViewData["CurrentFilter"] })">View Count</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["RateCountSortParm"], currentFilter = ViewData["CurrentFilter"] })">Rate Count</a>
            </th>
            <th scope="col">
                <a href="@Url.Action("Index", "PostsManagement", new { sortOrder = ViewData["TotalRateSortParm"], currentFilter = ViewData["CurrentFilter"] })">Total Rate</a>
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
                <td>@Html.DisplayFor(modelItem => item.Published)</td>
                <td>@Html.DisplayFor(modelItem => item.PostedOn)</td>
                <td>@Html.DisplayFor(modelItem => item.ViewCount)</td>
                <td>@Html.DisplayFor(modelItem => item.RateCount)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalRate)</td>
                <td class="d-flex">
                    <a href="@Url.Action("Edit", "PostsManagement", new { id = item.Id})" class="mr-3"><i class="far fa-edit"></i></a>
                    <form action="@Url.Action("Delete", "PostsManagement", new{ id = item.Id })" method="post">
                        <button type="submit" onclick="return confirm('Are you sure to delete this post?');" class="bg-transparent border-0 text-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center font-weight-bold">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            ViewBag.PageRange = 3;
        }
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=1, currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @prevDisabled"><<</a>
        </li>
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex - 1 <= 0 ? 1 : Model.PageIndex - 1), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @prevDisabled"><</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i >= Model.PageIndex - ViewBag.PageRange && i <= Model.PageIndex + ViewBag.PageRange)
            {
                <li class="page-item @(i==Model.PageIndex ? "active" : "")">
                    <a class="@(i==Model.PageIndex ? "Current" : "") page-link"
                       href="@Url.Action("Index", "PostsManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=i, currentFilter=ViewData["CurrentFilter"] })">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex + 1 > Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @nextDisabled">></a>
        </li>
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.TotalPages), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @nextDisabled">>></a>
        </li>
    </ul>
</nav>