@model Paginated<Post>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div class="item">
        <div class="post_s_item">
            <div class="post_img">
                <img class="img-fluid" src="~/assets/images/@item.ImageUrl" alt="@item.ImageUrl">
            </div>
            <div class="post_text">
                <a class="cat" href="@Url.Action("GetPostByCategory", "Post", new { category = item.Category.Name})">@item.Category.Name</a>
                <br />
                @Html.ActionLink(item.Title, "Details", "Post",
               new { @year = item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"), urlSlug = item.UrlSlug },
               new { @class = "h3 text-decoration-none" })
                <br />
                <i class="text-muted">@item.ShortDescription</i>
                <div class="date text-secondary">
                    <i class="fa fa-calendar" aria-hidden="true"></i>  Posted
                    <time class="timeago" datetime="@item.PostedOn"></time>
                    with rate @item.Rate by @item.ViewCount @(item.ViewCount <= 1 ? "view" : "views")
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4" />
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center font-weight-bold">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            ViewBag.PageRange = 3;
        }
        <li class="page-item">
            <a href="@Url.Action("Index", "Post", new { pageIndex=1, currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @prevDisabled"><<</a>
        </li>
        <li class="page-item">
            <a href="@Url.Action("Index", "Post", new { pageIndex=(Model.PageIndex - 1 <= 0 ? 1 : Model.PageIndex - 1), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @prevDisabled"><</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i >= Model.PageIndex - ViewBag.PageRange && i <= Model.PageIndex + ViewBag.PageRange)
            {
                <li class="page-item @(i==Model.PageIndex ? "active" : "")">
                    <a class="@(i==Model.PageIndex ? "Current" : "") page-link"
                       href="@Url.Action("Index", "Post", new { pageIndex=i, currentFilter=ViewData["CurrentFilter"] })">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { pageIndex=(Model.PageIndex + 1 > Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @nextDisabled">></a>
        </li>
        <li class="page-item">
            <a href="@Url.Action("Index", "PostsManagement", new { pageIndex=(Model.TotalPages), currentFilter=ViewData["CurrentFilter"] })"
               class="btn page-link @nextDisabled">>></a>
        </li>
    </ul>
</nav>